html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  // height: 100vh;
}

body {
  font: 400 16px 'Roboto', sans-serif;
  letter-spacing: 0.0016em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

a,
button {
  transition-duration: 500ms;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.dropzone {
  flex: 1;
  min-height: 400px;
  //width: 100%;
  //min-height: inherit;
  //display: grid;
  //grid-template-columns: repeat(3,1fr);
  //column-gap: 20px;
}
