html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  //   margin-left: calc(100vw - 100%);
  //   margin-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.dropzone {
  flex: 1;
  min-height: 400px;
  //width: 100%;
  //min-height: inherit;
  //display: grid;
  //grid-template-columns: repeat(3,1fr);
  //column-gap: 20px;
}
