.wrap {
  background-color: #081540;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: 1024px) {
    padding-left: 112px;
    padding-right: 112px;
  }
}

.logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 15px;
  height: inherit;
  align-items: inherit;

  @media (min-width: 1024px) {
    column-gap: 30px;
  }

  .icon a {
    width: 77px;
    height: 22px;
    @media (min-width: 1024px) {
      width: 140px;
      height: 40px;
    }
  }

  p {
    color: #ffffff;
    font-size: 12px;
    width: 100px;
    font-family: 'Roboto';
    display: none;

    @media (min-width: 420px) {
      display: block;
    }
  }
}

.fork {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  justify-self: end;
  color: #ffffff;
  font-family: Roboto;

  p {
    margin-left: 5px;
    font-size: 8px;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}
