.container {
  padding-right: 16px;
  padding-left: 16px;
  @media (min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;

  }
  @media (min-width: 1024px) {
    padding-left: 112px;
    padding-right: 112px;

  }
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.item {
  margin-bottom: 20px;
  margin-right: 15px;
  font-family: 'Roboto';
  font-size: 18px;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #929090;
  width: max-content;
  border-radius: 6px;
  border-left: 8px solid #3861e1;
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: center;
  column-gap: 15px;

  p{
    max-width: 220px;

    @media (min-width: 360px) {
      max-width: 240px;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }

  }
  @media (min-width: 768px) {
    height: 64px;
    column-gap: 30px;

  }
}

.btnAdd {
  cursor: pointer;
}

.wrapBtns {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
}

.btnPrev, .btnNext {
  width: 150px;
  height: 40px;
  margin-right: 15px;

}

.arrowPrev, .arrowNext {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-left: 2px solid #081540;
  border-top: 2px solid #081540;
  transform: rotateZ(-45deg);
}

.arrowNext {
  transform: rotateZ(-225deg);

}

.btn {
  width: 150px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #081540;
  border-radius: 6px;
  font-family: 'Roboto';
  color: #081540;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 50px;

}

.btn:hover {
  background-color: #3861e1;
  color: #ffffff;
}

.btn:hover .arrowPrev {
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}


.btn:hover {
  background-color: #3861e1;
  color: #ffffff;
}

.btn:hover .arrowNext {
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}


